<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1 class="heading">Page not found</h1>
            <br>
            <h2 class="subheading">Uh oh, we can’t seem to find the page you’re looking for.
                <br>
                 Try going back to the previous page
            </h2>            
            <div class="error-actions">
                <a href="/customers" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                    Take Me Home </a>
            </div>
        </div>
    </div>
  </div>