.btn-outline-secondary {
    margin : 10px 30px;
    font-size: 15px;
    font-weight: bolder;
    border: none;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active {
    background-color: white;  
    color: black;
  }
  .fixed-bottom {
    margin-bottom: 70px;
  }